/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"); */

* {
  font-family: "Montserrat", sans-serif;
}
.screen_container {
  background-color: #f8f8f8;
  border-radius: 10px;
}
.device {
  height: 500px;
  width: vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#display {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  width: 100%;
}
.mainbody {
  background-color: rgb(179, 177, 177);
  height: 60%;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  /* background-color: red; */
}

.first {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}
.second {
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
}

.third {
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
}
.fourth {
  display: flex;
  justify-content: space-around;
}
.one {
  margin-left: 31px;
}
.two {
  margin-left: 2px;
}
.three {
  margin-left: 1px;
}
.dot {
  margin-left: 4px;
}
.fifth {
  display: flex;
  justify-content: space-between;
}
.zero {
  margin-left: 63px;
}
.equal {
  margin-left: 55px;
}
input {
  display: flex;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 20px;
}

/* 
.device {
  width: 300px;
  height: 100vh;
  background-color: #f8f8f8;
  margin: auto;
}

.screen_container {
  background-color: none;
  width: 300px;
  height: 70px;
  position: absolute;
  bottom: 375px;
}

#display {
  color: black;
  width: 280px;
  height: 70px;
  margin: 0;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
}
.num_container {
  width: 300px;
  height: 375px;
  margin: auto;
  background-color: rgb(216, 216, 216);
  position: absolute;
  bottom: 0;
}

.first_row,
.second_row,
.third_row,
.fourth_row,
.fifth_row {
  min-width: 300px;
  height: 75px;
  display: block;
}

.zero,
.dot,
.percentage,
.plus,
.one,
.two,
.three,
.minus,
.four,
.five,
.six,
.multiply,
.seven,
.eight,
.nine,
.division {
  width: 73px;
  height: 73px;
  border: none;
  display: block;
}

.dot,
.two,
.five,
.eight {
  margin-left: 75px;
  margin-top: -60px;
}

.percentage,
.three,
.six,
.nine,
.equal {
  margin-left: 150px;
  margin-top: -60px;
}

.plus,
.minus,
.multiply,
.division {
  margin-left: 225px;
  margin-top: -73px;
  background-color: none
}

.clear,
.equal {
  width: 148px;
  height: 73px;
  border:none;
  background-color: transparent;
  display: block;
}

input {
  display: block;
  margin: auto;
  color: #fefefe;
  margin-top: none;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
} */

/*
.num_container {
  width: 300px;
  height: 375px;
  margin: auto;
  background-image: linear-gradient(to bottom right, #010a09, #0e1e26);
  position: absolute;
  bottom: 0;
}

.first_row,
.second_row,
.third_row,
.fourth_row,
.fifth_row {
  min-width: 300px;
  height: 75px;
  display: block;
}

.zero,
.dot,
.percentage,
.plus,
.one,
.two,
.three,
.minus,
.four,
.five,
.six,
.multiply,
.seven,
.eight,
.nine,
.division {
  width: 73px;
  height: 73px;
  border: 1px solid #000807;
  display: block;
}

.dot,
.two,
.five,
.eight {
  margin-left: 75px;
  margin-top: -75px;
}

.percentage,
.three,
.six,
.nine,
.equal {
  margin-left: 150px;
  margin-top: -75px;
}

.plus,
.minus,
.multiply,
.division {
  margin-left: 225px;
  margin-top: -75px;
  background-image: linear-gradient(to top left, #135b62, #104e53);
}

.clear,
.equal {
  width: 148px;
  height: 73px;
  border: 1px solid #000807;
  background-color: transparent;
  display: block;
}

.equal {
  background-image: linear-gradient(to top right, #2ab2a6, #239287);
}

input {
  display: block;
  margin: auto;
  color: #fefefe;
  margin-top: 20px;
  font-size: 24px;
 
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
}

.sign {
  font-size: 34px;
  margin-top: 13px;
}

.num {
  font-size: 18px;
  margin-top: 26px;
}
*/
